:root {
    --primary: tomato;
    --secondary: yellowgreen;
    --text: #444;
    --over: slateblue;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
}
a {
    color:var(--primary);
    transition: 0.2s ease-in-out;
}
a:hover {
    color: var(--secondary);
}

.main-header {
    background-color: #f2f2f2;
    padding: 10px;
}
.title {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin: 0.2em 0;
    color: var(--over) ;
}
.subtitle {
    font-size: 24px;
}
.post_title {
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
}
.autor > spam {
    font-weight: bold;
    color: var(--over);
}
.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, 50%);
}
.foto {
    display: inline-block;
}
.redes_sociais {
    display: inline-block;
    vertical-align: bottom;
}
li {
    list-style: none;
}
section {
    padding: 10px;
}
article.post {
    box-shadow: 0 0 10px rgba(0,0,0, 20%);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 2px;
    display: inline-block;
}
article.post img {
    max-width: 100%;
}
footer {
    background-color: #333;
    padding: 10px;
}
footer .contato {
    text-align: end;
}
footer .contato li {
    display: inline-block;
    padding: 0 5px;
}

@media screen and (min-width: 767px) {
    article.post {
        max-width: calc(50% - 20px);
    }
}

@media screen and (min-width:1200px) {
    article.post {
        max-width: calc(33% - 20px);
        margin: 5px;
    }
}


